*.csv
*.pyc
*.db
!patientalloc/tests/database/filledDatabase.csv
!patientalloc/tests/database/biasedFilledDatabase.csv
!patientalloc/tests/database/filledDatabase.db
!patientalloc/tests/database/biasedFilledDatabase.db
patient_alloc.egg-info
.scannerwork
.idea
.coverage
venv
.eggs
dist
